@import "compass/css3"
@import "mod/highlight"
@import "mod/markdown"
@import "mod/commit"
@import "mod/diff"

// PROJECT

.page-header
  margin: auto
  position: relative
  margin-bottom: 20px
  padding-top: 20px
  padding-bottom: 20px
  border-bottom: 1px solid #eee

  h1
    margin-top: 0
    margin-bottom: 0
    font-size: 20px
    font-weight: normal
    line-height: 29px

  span.fork-flag, span.mirror-flag
    display: block
    font-size: 11px
    line-height: 10px
    white-space: nowrap


//.container
//  margin-right: auto
//  margin-left: auto


// COMMIT

.full-commit
  padding: 8px 8px 0
  margin: 10px 0
  background: #e6f1f6
  border: 1px solid #c5d5dd
  border-radius: 3px

.full-commit p.commit-title
  margin: 0 0 8px
  font-size: 18px
  font-weight: bold
  color: #213f4d
  text-shadow: 0 1px rgba(255,255,255,0.5)

.full-commit .commit-desc, .commit-desc-container .commit-desc
  display: block
  margin: -5px 0 10px

.full-commit .commit-meta
  padding: 8px
  margin-right: -8px
  margin-left: -8px
  background: #fff
  border-top: 1px solid #d8e6ec
  border-bottom-right-radius: 3px
  border-bottom-left-radius: 3px

.full-commit .sha-block
  float: right
  margin-left: 15px
  font-size: 12px
  color: #888

.full-commit .sha-block>.sha
  color: #444

.full-commit .commit-desc pre, .commit-desc-container .commit-desc pre
  max-width: 100%
  overflow: visible
  text-shadow: 0 1px rgba(255,255,255,0.5)
  word-wrap: break-word
  background-color: #fff
  border: 0


.button-outline
  display: inline-block
  padding: 7px 12px
  font-size: 13px
  font-weight: bold
  color: #4183c4
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  background: #fff
  border: 1px solid #e5e5e5
  border-radius: 3px
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  -webkit-appearance: none

.button-group
  display: inline-block
  vertical-align: middle

  .button-outline
    position: relative
    float: left
    border-radius: 0

.tooltipped
  position: relative
