Flask==0.10.1
Flask-Assets==0.10
Flask-Login==0.2.11
Flask-Mail==0.9.0
Flask-Principal==0.4.0
Flask-SQLAlchemy==1.0
Flask-Script==2.0.5
Flask-Security==1.7.3
Flask-WTF==0.10.0
Jinja2==2.7.3
Mako==1.0.0
MarkupSafe==0.23
MySQL-python==1.2.5
Pygments==1.6
SQLAlchemy==0.9.7
Sphinx==1.2.2
WTForms==2.0.1
Werkzeug==0.9.6
alembic==0.6.6
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.18
blinker==1.3
celery==3.1.13
cssmin==0.2.0
distribute==0.7.3
docutils==0.12
factory-boy==1.3.0
itsdangerous==0.24
jsmin==2.0.11
kombu==3.0.21
mock==1.0.1
nose==1.3.3
passlib==1.6.2
python-dateutil==2.2
redis==2.10.2
simplejson==3.6.2
six==1.7.3
sphinxcontrib-httpdomain==1.3.0
webassets==0.10.1
wsgiref==0.1.2
-e git+https://github.com/douban/sina.git@da1d53a5e892a6e00f81cf41416bc4239d87f887#egg=Sina
-e git+https://github.com/douban/ellen.git@43137fd8d124bb78e04191fa82a0abb8e885d354#egg=Ellen
-e git+https://github.com/douban/pygit2.git@952060fcec78db643cd0dcd3eb4df4044d8c020a#egg=Pygit2
-e git+https://github.com/qingfeng/misaka.git@2fbe52692e8f304eea9d8925fd2a857916ff0ea5#egg=Misaka
-e git+https://github.com/xtao/mikoto.git@2a4e7844f33c6881e5e9cb8068b350dda29c2130#egg=Mikoto
