/* line 1, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight {
  background: white;
}
/* line 4, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .hll {
  background-color: #ffffcc;
}
/* line 6, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .c {
  color: gray;
}
/* line 8, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .err {
  color: #f00000;
  background-color: #f0a0a0;
}
/* line 11, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .k {
  color: green;
  font-weight: bold;
}
/* line 14, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .o {
  color: #303030;
}
/* line 16, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .cm {
  color: gray;
}
/* line 18, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .cp {
  color: #507090;
}
/* line 20, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .c1 {
  color: gray;
}
/* line 22, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .cs {
  color: #cc0000;
  font-weight: bold;
}
/* line 25, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .gd {
  color: #a00000;
}
/* line 27, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .ge {
  font-style: italic;
}
/* line 29, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .gr {
  color: red;
}
/* line 31, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .gh {
  color: navy;
  font-weight: bold;
}
/* line 34, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .gi {
  color: #00a000;
}
/* line 36, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .go {
  color: gray;
}
/* line 38, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .gp {
  color: #c65d09;
  font-weight: bold;
}
/* line 41, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .gs {
  font-weight: bold;
}
/* line 43, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .gu {
  color: purple;
  font-weight: bold;
}
/* line 46, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .gt {
  color: #0040d0;
}
/* line 48, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .kc, .highlight .kd, .highlight .kn {
  color: green;
  font-weight: bold;
}
/* line 51, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .kp {
  color: #003080;
  font-weight: bold;
}
/* line 54, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .kr {
  color: green;
  font-weight: bold;
}
/* line 57, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .kt {
  color: #303090;
  font-weight: bold;
}
/* line 60, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .m {
  color: #6000e0;
  font-weight: bold;
}
/* line 63, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .s {
  background-color: #fff0f0;
}
/* line 65, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .na {
  color: #0000c0;
}
/* line 67, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .nb {
  color: #007020;
}
/* line 69, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .nc {
  color: #b00060;
  font-weight: bold;
}
/* line 72, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .no {
  color: #003060;
  font-weight: bold;
}
/* line 75, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .nd {
  color: #505050;
  font-weight: bold;
}
/* line 78, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .ni {
  color: maroon;
  font-weight: bold;
}
/* line 81, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .ne {
  color: #f00000;
  font-weight: bold;
}
/* line 84, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .nf {
  color: #0060b0;
  font-weight: bold;
}
/* line 87, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .nl {
  color: #907000;
  font-weight: bold;
}
/* line 90, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .nn {
  color: #0e84b5;
  font-weight: bold;
}
/* line 93, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .nt {
  color: #007000;
}
/* line 95, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .nv {
  color: #906030;
}
/* line 97, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .ow {
  color: black;
  font-weight: bold;
}
/* line 100, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .w {
  color: #bbbbbb;
}
/* line 102, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .mf {
  color: #6000e0;
  font-weight: bold;
}
/* line 105, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .mh {
  color: #005080;
  font-weight: bold;
}
/* line 108, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .mi {
  color: #0000d0;
  font-weight: bold;
}
/* line 111, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .mo {
  color: #4000e0;
  font-weight: bold;
}
/* line 114, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .sb {
  background-color: #fff0f0;
}
/* line 116, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .sc {
  color: #0040d0;
}
/* line 118, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .sd {
  color: #d04020;
}
/* line 120, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .s2 {
  background-color: #fff0f0;
}
/* line 122, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .se {
  color: #606060;
  font-weight: bold;
  background-color: #fff0f0;
}
/* line 126, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .sh {
  background-color: #fff0f0;
}
/* line 128, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .si {
  background-color: #e0e0e0;
}
/* line 130, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .sx {
  color: #d02000;
  background-color: #fff0f0;
}
/* line 133, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .sr {
  color: black;
  background-color: #fff0ff;
}
/* line 136, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .s1 {
  background-color: #fff0f0;
}
/* line 138, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .ss {
  color: #a06000;
}
/* line 140, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .bp {
  color: #007020;
}
/* line 142, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .vc {
  color: #306090;
}
/* line 144, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .vg {
  color: #d07000;
  font-weight: bold;
}
/* line 147, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .vi {
  color: #3030b0;
}
/* line 149, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .il {
  color: #0000d0;
  font-weight: bold;
}

/* line 1, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body {
  padding: 30px;
  font-size: 14px;
  line-height: 1.6;
}
/* line 3, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body > :first-child {
  margin-top: 0 !important;
}
/* line 5, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}
/* line 12, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black;
}
/* line 18, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body p {
  font-size: 14px;
  line-height: 1.6;
  margin: 15px 0;
}
/* line 22, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre {
  margin: 15px 0;
}
/* line 24, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body ul, .markdown-body ol {
  padding-left: 30px;
}
/* line 26, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body ul {
  list-style: disc;
}
/* line 27, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body ul li {
  line-height: 1.6;
}
/* line 30, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body ol {
  list-style: decimal;
}
/* line 32, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body table {
  width: 100%;
}
/* line 35, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body table caption + thead tr:first-child th, .markdown-body table caption + thead tr:first-child td {
  border-top: 0;
}
/* line 38, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body table colgroup + thead tr:first-child th, .markdown-body table colgroup + thead tr:first-child td {
  border-top: 0;
}
/* line 42, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body table thead:first-child tr:first-child th, .markdown-body table thead:first-child tr:first-child td {
  border-top: 0;
}
/* line 44, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body table thead th {
  vertical-align: bottom;
}
/* line 46, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body table th {
  font-weight: bold;
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
/* line 53, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body table td, .markdown-body table th, .markdown-body table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
/* line 60, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body table tbody > tr:nth-child(odd) > td, .markdown-body table tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
/* line 62, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body .progress-percentage {
  color: #888888;
}

/* line 65, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-page {
  padding: 0px;
}
/* line 67, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-page h1, .markdown-page h2, .markdown-page h3, .markdown-page h4, .markdown-page h5, .markdown-page h6 {
  position: static;
}
/* line 69, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-page pre {
  font-family: Consolas, "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: 14px;
}
/* line 72, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-page .label {
  background-color: transparent;
}
/* line 74, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-page dd {
  margin-left: 1.5em;
}

/* line 77, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body code {
  white-space: pre-wrap;
}

/* line 1, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.table-list {
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #999999;
  border-bottom: 1px solid #e5e5e5;
}

/* line 8, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.table-list-item {
  position: relative;
  list-style: none;
  display: table-row;
}

/* line 13, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.table-list-cell {
  position: relative;
  display: table-cell;
  padding: 8px 10px;
  font-size: 12px;
  vertical-align: top;
  border-top: 1px solid #eeeeee;
}

/* line 22, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.table-list-bordered .table-list-cell:last-child {
  border-right: 1px solid #e5e5e5;
}

/* line 26, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.commits-list-item .commit-title {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  color: #333333;
}
/* line 32, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.commits-list-item .commit-meta {
  margin-top: 1px;
  font-weight: normal;
  color: #999999;
}
/* line 37, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.commits-list-item .commit-author {
  color: #777777;
}
/* line 40, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.commits-list-item .commit-desc {
  display: none;
}
/* line 44, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.commits-list-item .commit-desc pre {
  padding-left: 8px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #596063;
  border-left: 1px solid #e5e5e5;
  overflow: auto;
  background-color: #f0f5fa;
}
/* line 55, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.commits-list-item .button-outline {
  margin-top: 4px;
  padding: 5px 8px;
}

/* line 59, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.commit-links-group {
  margin-right: 5px;
}

/* line 63, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.commit-desc pre {
  max-width: 700px;
  white-space: pre-wrap;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 13px;
  color: #596063;
  margin: 10px 0;
}

/* line 71, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.commit-avatar-cell {
  width: 47px;
}

/* line 1, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.blob-num {
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
  cursor: pointer;
  text-align: right;
  width: 1%;
  min-width: 50px;
  border: solid #eeeeee;
  border-width: 0 1px 0 0;
}

/* line 12, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.blob-num-deletion {
  background-color: #f7c8c8;
  border-color: #e9aeae;
}

/* line 16, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.blob-num-addition {
  background-color: #ceffce;
  border-color: #b4e2b4;
}

/* line 20, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.blob-code {
  white-space: pre;
  overflow: visible;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}

/* line 28, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.blob-code-hunk {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #f8fafd;
  border-width: 1px 0;
}

/* line 34, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.blob-code-deletion {
  background-color: #ffdddd;
}

/* line 37, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.blob-code-addition {
  background-color: #ddffdd;
}

/* line 40, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.blob-num-hunk {
  background-color: #f0f5fa;
}

/* line 43, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.blob-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 49, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.file {
  position: relative;
  margin-top: 20px;
  margin-bottom: 15px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

/* line 56, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.file .meta {
  padding: 5px 10px;
  text-shadow: 0 1px 0 white;
  border-bottom: 1px solid #d8d8d8;
  background-color: #f7f7f7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 9, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.page-header {
  margin: auto;
  position: relative;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}
/* line 17, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.page-header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 29px;
}
/* line 24, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.page-header span.fork-flag, .page-header span.mirror-flag {
  display: block;
  font-size: 11px;
  line-height: 10px;
  white-space: nowrap;
}

/* line 38, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.button-outline {
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: bold;
  color: #4183c4;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}

/* line 58, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.button-group {
  display: inline-block;
  vertical-align: middle;
}
/* line 62, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.button-group .button-outline {
  position: relative;
  float: left;
  border-radius: 0;
}

/* line 67, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.tooltipped {
  position: relative;
}
