/* line 1, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight {
  background: white;
}
/* line 4, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .hll {
  background-color: #ffffcc;
}
/* line 6, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .c {
  color: gray;
}
/* line 8, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .err {
  color: #f00000;
  background-color: #f0a0a0;
}
/* line 11, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .k {
  color: green;
  font-weight: bold;
}
/* line 14, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .o {
  color: #303030;
}
/* line 16, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .cm {
  color: gray;
}
/* line 18, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .cp {
  color: #507090;
}
/* line 20, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .c1 {
  color: gray;
}
/* line 22, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .cs {
  color: #cc0000;
  font-weight: bold;
}
/* line 25, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .gd {
  color: #a00000;
}
/* line 27, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .ge {
  font-style: italic;
}
/* line 29, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .gr {
  color: red;
}
/* line 31, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .gh {
  color: navy;
  font-weight: bold;
}
/* line 34, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .gi {
  color: #00a000;
}
/* line 36, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .go {
  color: gray;
}
/* line 38, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .gp {
  color: #c65d09;
  font-weight: bold;
}
/* line 41, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .gs {
  font-weight: bold;
}
/* line 43, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .gu {
  color: purple;
  font-weight: bold;
}
/* line 46, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .gt {
  color: #0040d0;
}
/* line 48, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .kc, .highlight .kd, .highlight .kn {
  color: green;
  font-weight: bold;
}
/* line 51, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .kp {
  color: #003080;
  font-weight: bold;
}
/* line 54, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .kr {
  color: green;
  font-weight: bold;
}
/* line 57, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .kt {
  color: #303090;
  font-weight: bold;
}
/* line 60, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .m {
  color: #6000e0;
  font-weight: bold;
}
/* line 63, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .s {
  background-color: #fff0f0;
}
/* line 65, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .na {
  color: #0000c0;
}
/* line 67, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .nb {
  color: #007020;
}
/* line 69, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .nc {
  color: #b00060;
  font-weight: bold;
}
/* line 72, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .no {
  color: #003060;
  font-weight: bold;
}
/* line 75, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .nd {
  color: #505050;
  font-weight: bold;
}
/* line 78, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .ni {
  color: maroon;
  font-weight: bold;
}
/* line 81, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .ne {
  color: #f00000;
  font-weight: bold;
}
/* line 84, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .nf {
  color: #0060b0;
  font-weight: bold;
}
/* line 87, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .nl {
  color: #907000;
  font-weight: bold;
}
/* line 90, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .nn {
  color: #0e84b5;
  font-weight: bold;
}
/* line 93, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .nt {
  color: #007000;
}
/* line 95, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .nv {
  color: #906030;
}
/* line 97, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .ow {
  color: black;
  font-weight: bold;
}
/* line 100, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .w {
  color: #bbbbbb;
}
/* line 102, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .mf {
  color: #6000e0;
  font-weight: bold;
}
/* line 105, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .mh {
  color: #005080;
  font-weight: bold;
}
/* line 108, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .mi {
  color: #0000d0;
  font-weight: bold;
}
/* line 111, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .mo {
  color: #4000e0;
  font-weight: bold;
}
/* line 114, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .sb {
  background-color: #fff0f0;
}
/* line 116, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .sc {
  color: #0040d0;
}
/* line 118, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .sd {
  color: #d04020;
}
/* line 120, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .s2 {
  background-color: #fff0f0;
}
/* line 122, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .se {
  color: #606060;
  font-weight: bold;
  background-color: #fff0f0;
}
/* line 126, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .sh {
  background-color: #fff0f0;
}
/* line 128, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .si {
  background-color: #e0e0e0;
}
/* line 130, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .sx {
  color: #d02000;
  background-color: #fff0f0;
}
/* line 133, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .sr {
  color: black;
  background-color: #fff0ff;
}
/* line 136, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .s1 {
  background-color: #fff0f0;
}
/* line 138, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .ss {
  color: #a06000;
}
/* line 140, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .bp {
  color: #007020;
}
/* line 142, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .vc {
  color: #306090;
}
/* line 144, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .vg {
  color: #d07000;
  font-weight: bold;
}
/* line 147, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .vi {
  color: #3030b0;
}
/* line 149, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/highlight.sass */
.highlight .il {
  color: #0000d0;
  font-weight: bold;
}

/* line 1, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body {
  padding: 30px;
  font-size: 14px;
  line-height: 1.6;
}
/* line 3, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body > :first-child {
  margin-top: 0 !important;
}
/* line 5, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}
/* line 12, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black;
}
/* line 18, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body p {
  font-size: 14px;
  line-height: 1.6;
  margin: 15px 0;
}
/* line 22, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre {
  margin: 15px 0;
}
/* line 24, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body ul, .markdown-body ol {
  padding-left: 30px;
}
/* line 26, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body ul {
  list-style: disc;
}
/* line 27, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body ul li {
  line-height: 1.6;
}
/* line 30, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body ol {
  list-style: decimal;
}
/* line 32, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body table {
  width: 100%;
}
/* line 35, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body table caption + thead tr:first-child th, .markdown-body table caption + thead tr:first-child td {
  border-top: 0;
}
/* line 38, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body table colgroup + thead tr:first-child th, .markdown-body table colgroup + thead tr:first-child td {
  border-top: 0;
}
/* line 42, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body table thead:first-child tr:first-child th, .markdown-body table thead:first-child tr:first-child td {
  border-top: 0;
}
/* line 44, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body table thead th {
  vertical-align: bottom;
}
/* line 46, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body table th {
  font-weight: bold;
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
/* line 53, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body table td, .markdown-body table th, .markdown-body table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
/* line 60, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body table tbody > tr:nth-child(odd) > td, .markdown-body table tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
/* line 62, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body .progress-percentage {
  color: #888888;
}

/* line 65, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-page {
  padding: 0px;
}
/* line 67, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-page h1, .markdown-page h2, .markdown-page h3, .markdown-page h4, .markdown-page h5, .markdown-page h6 {
  position: static;
}
/* line 69, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-page pre {
  font-family: Consolas, "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: 14px;
}
/* line 72, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-page .label {
  background-color: transparent;
}
/* line 74, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-page dd {
  margin-left: 1.5em;
}

/* line 77, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/markdown.sass */
.markdown-body code {
  white-space: pre-wrap;
}

/* line 1, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.table-list {
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #999999;
  border-bottom: 1px solid #e5e5e5;
}

/* line 8, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.table-list-item {
  position: relative;
  list-style: none;
  display: table-row;
}

/* line 13, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.table-list-cell {
  position: relative;
  display: table-cell;
  padding: 8px 10px;
  font-size: 12px;
  vertical-align: top;
  border-top: 1px solid #eeeeee;
}

/* line 22, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.table-list-bordered .table-list-cell:last-child {
  border-right: 1px solid #e5e5e5;
}

/* line 26, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.commits-list-item .commit-title {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  color: #333333;
}
/* line 32, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.commits-list-item .commit-meta {
  margin-top: 1px;
  font-weight: normal;
  color: #999999;
}
/* line 37, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.commits-list-item .commit-author {
  color: #777777;
}
/* line 40, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.commits-list-item .commit-desc {
  display: none;
}
/* line 44, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.commits-list-item .commit-desc pre {
  padding-left: 8px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #596063;
  border-left: 1px solid #e5e5e5;
  overflow: auto;
  background-color: #f0f5fa;
}
/* line 55, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.commits-list-item .button-outline {
  margin-top: 4px;
  padding: 5px 8px;
}

/* line 59, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.commit-links-group {
  margin-right: 5px;
}

/* line 63, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.commit-desc pre {
  max-width: 700px;
  white-space: pre-wrap;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 13px;
  color: #596063;
  margin: 10px 0;
}

/* line 71, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.commit-avatar-cell {
  width: 47px;
}

/* line 75, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/commit.sass */
.commit .sha {
  width: 80px;
}

/* line 1, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.blob-num {
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
  cursor: pointer;
  text-align: right;
  width: 1%;
  min-width: 50px;
  border: solid #eeeeee;
  border-width: 0 1px 0 0;
}

/* line 12, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.blob-num-deletion {
  background-color: #f7c8c8;
  border-color: #e9aeae;
}

/* line 16, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.blob-num-addition {
  background-color: #ceffce;
  border-color: #b4e2b4;
}

/* line 20, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.blob-code {
  white-space: pre;
  overflow: visible;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}

/* line 28, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.blob-code-hunk {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #f8fafd;
  border-width: 1px 0;
}

/* line 34, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.blob-code-deletion {
  background-color: #ffdddd;
}

/* line 37, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.blob-code-addition {
  background-color: #ddffdd;
}

/* line 40, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.blob-num-hunk {
  background-color: #f0f5fa;
}

/* line 43, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.blob-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 49, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.file {
  position: relative;
  margin-top: 20px;
  margin-bottom: 15px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

/* line 56, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/mod/diff.sass */
.file .meta {
  padding: 5px 10px;
  text-shadow: 0 1px 0 white;
  border-bottom: 1px solid #d8d8d8;
  background-color: #f7f7f7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 9, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.page-header {
  margin: auto;
  position: relative;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}
/* line 17, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.page-header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 29px;
}
/* line 24, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.page-header span.fork-flag, .page-header span.mirror-flag {
  display: block;
  font-size: 11px;
  line-height: 10px;
  white-space: nowrap;
}

/* line 38, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.full-commit {
  padding: 8px 8px 0;
  margin: 10px 0;
  background: #e6f1f6;
  border: 1px solid #c5d5dd;
  border-radius: 3px;
}

/* line 45, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.full-commit p.commit-title {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: bold;
  color: #213f4d;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

/* line 52, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.full-commit .commit-desc, .commit-desc-container .commit-desc {
  display: block;
  margin: -5px 0 10px;
}

/* line 56, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.full-commit .commit-meta {
  padding: 8px;
  margin-right: -8px;
  margin-left: -8px;
  background: white;
  border-top: 1px solid #d8e6ec;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 65, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.full-commit .sha-block {
  float: right;
  margin-left: 15px;
  font-size: 12px;
  color: #888888;
}

/* line 71, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.full-commit .sha-block > .sha {
  color: #444444;
}

/* line 74, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.full-commit .commit-desc pre, .commit-desc-container .commit-desc pre {
  max-width: 100%;
  overflow: visible;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  word-wrap: break-word;
  background-color: white;
  border: 0;
}

/* line 83, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.button-outline {
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: bold;
  color: #4183c4;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}

/* line 103, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.button-group {
  display: inline-block;
  vertical-align: middle;
}
/* line 107, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.button-group .button-outline {
  position: relative;
  float: left;
  border-radius: 0;
}

/* line 112, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.tooltipped {
  position: relative;
}

/* line 117, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.previewable-comment-form textarea {
  display: block;
  width: 100%;
  min-height: 100px;
  max-height: 500px;
  padding: 10px;
  resize: vertical;
}

/* line 125, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.previewable-comment-form.write-selected .write-content, .previewable-comment-form.preview-selected .preview-content {
  display: block;
}

/* line 128, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.previewable-comment-form .write-content, .previewable-comment-form .preview-content {
  display: none;
  padding: 0 10px 10px;
}

/* line 132, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.new-discussion-timeline .composer .comment-form-head.tabnav {
  padding-top: 0;
  background-color: white;
}

/* line 136, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.previewable-comment-form {
  position: relative;
}

/* line 139, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.write-content {
  position: relative;
}

/* line 142, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.composer-meta {
  float: left;
  width: 20%;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

/* line 149, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.discussion-topic {
  float: left;
  width: 80%;
  border-right: 1px solid #dddddd;
}

/* line 154, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.discussion-topic-header {
  position: relative;
  padding: 10px;
  word-wrap: break-word;
}

/* line 159, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.pull-request-composer {
  position: relative;
  margin-bottom: 15px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

/* line 165, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.new-discussion-timeline .composer .comment-form-head.tabnav {
  padding-top: 0;
  background-color: white;
}

/* line 169, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.new-discussion-timeline .previewable-comment-form .comment-form-head.tabnav {
  padding: 6px 10px 0;
  border-radius: 3px 3px 0 0;
}

/* line 173, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.composer .comment-form-textarea {
  height: 200px;
  min-height: 200px;
}

/* line 177, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.previewable-comment-form textarea {
  display: block;
  width: 100%;
  min-height: 100px;
  max-height: 500px;
  padding: 10px;
  resize: vertical;
}

/* line 185, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.comment-form-textarea {
  width: 100%;
  max-width: 100%;
  height: 100px;
  min-height: 100px;
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  -webkit-transform: translateZ(0);
}

/* line 195, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.composer-submit {
  position: absolute;
  right: 1%;
  bottom: 10px;
  width: 18%;
}

/* line 201, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
input[type="text"], textarea {
  min-height: 34px;
  padding: 7px 8px;
  font-size: 13px;
  color: #333333;
  vertical-align: middle;
  background-color: white;
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #cccccc;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

/* line 215, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
input.input-large {
  padding: 6px 10px;
  font-size: 16px;
}

/* line 219, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.input-block {
  display: block;
  width: 100%;
}

/* line 223, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.compare-pr-placeholder {
  margin: 10px 0;
  padding: 15px;
  font-size: 14px;
  color: #4c4a42;
  background-color: #fff9ea;
  border-color: #dfd8c2;
  border-radius: 3px;
}
/* line 232, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.compare-pr-placeholder p {
  margin: 7px 0;
  color: #6d6c60;
}
/* line 236, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.compare-pr-placeholder .button {
  margin-right: 10px;
  margin-bottom: -2px;
}
/* line 240, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.compare-pr-placeholder .help-link {
  margin-top: 5px;
  margin-right: -3px;
  padding: 3px;
  color: #9c997d;
  text-decoration: none;
}

/* line 247, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.compare-pr .pull-request-composer {
  display: none;
}

/* line 251, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.timeline-comment-wrapper {
  position: relative;
  padding-left: 64px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

/* line 259, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.timeline-comment-avatar {
  float: left;
  margin-left: -64px;
  border-radius: 3px;
}

/* line 264, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.timeline-comment {
  position: relative;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

/* line 270, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.timeline-comment-header {
  padding-left: 15px;
  padding-right: 15px;
  color: #999999;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eeeeee;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* line 279, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.timeline-comment.current-user .timeline-comment-header {
  color: #8e9597;
  background-color: #f2f8fa;
  border-bottom-color: #e1edf1;
}

/* line 284, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.timeline-comment-actions {
  float: right;
  margin-right: -5px;
  margin-left: 10px;
}

/* line 289, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.timeline-comment-actions .octicon {
  padding: 10px 5px;
  color: inherit;
  opacity: 0.5;
}

/* line 294, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.timeline-comment-header-text {
  max-width: 78%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 299, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.comment-form-stale {
  margin-top: 0;
}

/* line 302, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.context-loader-container .context-loader {
  display: none;
}

/* line 305, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.form-content {
  padding: 10px;
  display: none;
}

/* line 309, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.comment-form-error, .comment-form-stale {
  display: none;
  margin: 0 10px;
  padding: 5px 10px;
  font-weight: bold;
  color: #990000;
  background-color: #ffeaea;
  border: 1px solid #e2a0a0;
}

/* line 318, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.context-loader-container .context-loader {
  display: none;
}

/* line 321, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.comment-body {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  overflow: visible;
}

/* line 327, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.markdown-body {
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}

/* line 334, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.comment .context-loader {
  display: none;
}

/* line 339, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.discussion-timeline-actions .merge-pr {
  padding-top: 0;
  border-top: 0;
}

/* line 343, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.merge-pr-more-commits {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 64px;
  font-size: 12px;
  color: #777777;
}

/* line 350, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.branch-action {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 64px;
}

/* line 355, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.merge-branch-form {
  padding-left: 64px;
  display: none;
}

/* line 359, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.discussion-timeline-actions {
  border-top: 2px solid #f3f3f3;
  background-color: white;
}

/* line 363, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.merge-pr {
  margin: 20px 0 0;
  padding-top: 10px;
  border-top: 1px solid #dddddd;
}

/* line 368, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.text-emphasized {
  font-weight: bold;
  color: #333333;
}

/* line 372, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.branch-action-icon {
  float: left;
  margin-left: -64px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  color: white;
  text-align: center;
  border-radius: 3px;
}

/* line 382, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.branch-action-body {
  position: relative;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

/* line 388, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.branch-status {
  padding: 10px 0;
  border: solid #eeeeee;
  border-width: 0 0 1px;
}

/* line 393, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.branch-action-body .merge-message, .branch-action-body .merge-branch-form {
  padding: 15px;
}

/* line 396, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.merge-branch-action, .desktop-app-action {
  float: right;
  margin-left: 5px;
}

/* line 400, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.merge-branch-heading {
  margin: 0;
}

/* line 403, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.merge-branch-description {
  margin-top: 0;
  margin-right: 160px;
  margin-bottom: 0;
  color: #777777;
}

/* line 409, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.merge-branch-manually {
  display: none;
  margin-top: 14px;
  padding-top: 15px;
  border-top: 1px solid #dddddd;
}

/* line 415, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.build-status-description {
  display: block;
  margin-left: 15px;
}

/* line 419, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.commit-form-avatar {
  float: left;
  margin-left: -64px;
  border-radius: 3px;
}

/* line 424, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.commit-form {
  position: relative;
  padding: 15px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

/* line 430, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.commit-form .input-block {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 434, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.commit-form-actions {
  text-align: right;
}

/* line 438, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
textarea {
  overflow: auto;
}

/* line 441, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.form-actions {
  padding-bottom: 5px;
  text-align: right;
}

/* line 445, ../../Users/xtao/Work/code/overholt/vilya/frontend/static/sass/vilya.sass */
.inline-comment-form .form-actions, .timeline-new-comment .form-actions {
  padding: 0 10px 10px;
}
