{% extends "projects/base.html" %}

{% block title -%}
{{ project.name }}
{%- endblock %}

{% block sub_content %}
<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    {{ commit.hex }}
</div>

<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
    {% for p in diff %}
    <table>
        <tr><th></th><th></th><th>{{p.new_file_path}}</th></tr>
        {% for h in p.hunks %}
        {% for t, l in h.lines %}
        <tr><td>1</td><td>1</td><td><pre>{{ l }}</pre></td></tr>
        {% endfor %}
        {% endfor %}
    </table>
    {% endfor %}
    </div>
</div>

{% endblock %}
