{% extends "projects/base.html" %}
{% from "macros/commits/commit.html" import render_commit_item %}

{% block title -%}
{{ project.name }}
{%- endblock %}

{% block sub_content %}
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li><a href="/{{project.full_name}}/tree/{{reference}}">Files</a></li>
    <li class="active"><a href="/{{project.full_name}}/commits/{{reference}}">Commits</a></li>
  </ul>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <ul class="list-group table-list">
    {% for commit in commits %}
    {{render_commit_item(project, commit)}}
    {% endfor %}
  </ul>
</div>
{% endblock %}
