{% extends "projects/base.html" %}
{% from "macros/diffs/patch.html" import render_patch_file %}
{% from "macros/commits/commit.html" import render_commit_item %}

{% block sub_content %}
<div class="panel panel-default">
  <div>
    {{render_range_editor(upstream_project, upstream_branch, upstream_projects_menu, upstream_branches_menu)}}
    <span>...</span>
    {{render_range_editor(origin_project, origin_branch, origin_projects_menu, origin_branches_menu, type="head")}}
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Commits
  </div>
  <div class="panel-body">
    <p> {{commits|length}} commits</p>
  </div>
  <ul class="list-group table-list">
    {% for commit in commits %}
    {{render_commit_item(project, commit)}}
    {% endfor %}
  </ul>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Files
  </div>
  <div class="panel-body">
    <p> {{diff|length}} files </p>
  </div>
  {% for p in diff %}
  {{ render_patch_file(p) }}
  {% endfor %}
</div>
{% endblock %}

{% macro render_range_editor(current_project, current_branch, projects, branches, type="base") -%}
  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
      <small>{{type}} fork: {{current_project.full_name}}</small> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation" class="dropdown-header">Choose a {{type}} repository:</li>
      {% for r, project in projects %}
      <li><a href="/{{r}}"><small>{{project.full_name}}</small></a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
      <small>{{"base" if type == "base" else "compare"}}: {{ current_branch }}</small> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation" class="dropdown-header">Choose a {{type}} branch:</li>
      {% for r, branch in branches %}
      <li><a href="/{{r}}"><small>{{branch.name}}</small></a></li>
      {% endfor %}
    </ul>
  </div>
{%- endmacro %}
