{% extends "projects/base.html" %}

{% block title -%}
{{ project.name }}
{%- endblock %}

{% block sub_content %}
<div>
  <a href="/{{project.full_name}}/find/{{current_reference}}" class="btn pull-right">
    <span class="glyphicon glyphicon-list"></span>
  </a>
  <a href="/{{project.full_name}}/compare/{{current_reference}}" class="btn btn-success">
    <span class="glyphicon glyphicon-wrench"></span>
  </a>
  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
      <small>{{current_reference_type}}: {{current_reference}}</small> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation" class="dropdown-header">Branches:</li>
      {% for branch in branches %}
      <li><a href="/{{project.full_name}}/tree/{{branch.name}}"><small>{{branch.name}}</small></a></li>
      {% endfor %}
      <li class="divider"></li>
      <li role="presentation" class="dropdown-header">Tags:</li>
      {% for tag in tags %}
      <li><a href="/{{project.full_name}}/tree/{{tag.name}}"><small>{{tag.name}}</small></a></li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <ol class="breadcrumb">
      <li><a href="#">{{project.name}}</a></li>
      <li class="active"></li>
    </ol>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <!-- List group -->
  <ul class="list-group">
    {% for path in entries %}
    {% if entries[path].is_tree %}
    <li class="list-group-item">
    <span class="glyphicon glyphicon-folder-close"></span>
    <a href="{{ "/" + project.full_name + "/tree/" + reference + "/" + path}}">{{entries[path].name}}</a>
    </li>
    {% elif entries[path].is_blob %}
    <li class="list-group-item">
    <span class="glyphicon glyphicon-file"></span>
    <a href="{{ "/" + project.full_name + "/blob/" + reference + "/" + path}}">{{entries[path].name}}</a>
    </li>
    {% else %}
    <li class="list-group-item">
    <span class="glyphicon glyphicon-credit-card"></span>
    {{entries[path].name}}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
<div class="panel panel-default">
  <div class="markdown-body">
    {{ readme |safe}}
  </div>
</div>
{% endblock %}
