{% extends "projects/base.html" %}
{% from "macros/diffs/patch.html" import render_patch_file %}
{% from "macros/commits/commit.html" import render_commit_item %}
{% from "pullrequest/macros/comment.html" import render_pullrequest_description, render_pull_new_comment %}

{% block sub_content %}
<div class="panel panel-default">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#discussions" role="tab" data-toggle="tab">Discussions</a></li>
    <li><a href="#commits" role="tab" data-toggle="tab">Commits</a></li>
    <li><a href="#files" role="tab" data-toggle="tab">Files</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="discussions">
      <!-- discussions -->
      <div class="panel panel-default">
        <div class="panel-heading">
          #{{pullrequest.number}} {{pullrequest.name}}
        </div>
        <div class="panel-body">
          <p> {{pullrequest.description}} </p>
        </div>
        {{ render_pullrequest_description(project, pullrequest) }}
        {{ render_discussion_actions() }}
      </div>
    </div>
    <div class="tab-pane" id="commits">
      <!-- commits -->
      <div class="panel panel-default">
        <div class="panel-heading">
          commits
        </div>
        <div class="panel-body">
          <p> {{commits|length}} commits</p>
        </div>
        <ul class="list-group table-list">
          {% for commit in commits %}
          {{render_commit_item(project, commit)}}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="tab-pane" id="files">
      <!-- files -->
      <div class="panel panel-default">
        <div class="panel-heading">
          Files
        </div>
        <div class="panel-body">
          <p> {{diff|length}} files </p>
        </div>
        {% for p in diff %}
        {{ render_patch_file(p) }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% macro render_discussion_actions() -%}
<div class="discussion-timeline-actions">
  <div id="partial-pull-merging" class="js-pull-merging js-socket-channel js-updatable-content" data-channel="douban/code:branch:backbone douban/code:branch:backbone:status douban/code:branch:development douban/code:issue:29512662:state" data-url="/douban/code/pull/50/show_partial?partial=merging">
    <div class="merge-pr js-details-container">
      <p class="merge-pr-more-commits">Add more commits by pushing to the <code><a href="/xtao/code/tree/backbone" class="text-emphasized">backbone</a></code> branch on <a href="/xtao/code" class="text-emphasized">xtao/code</a>.</p>
      <div class="branch-action branch-action-state-clean js-mergable-state">
        <span class="mega-octicon octicon-git-pull-request branch-action-icon"></span>
        <span class="mega-octicon octicon-git-merge branch-action-icon"></span>
        <div class="branch-action-body">
          <div class="branch-status edit-comment-hide status-success">
            <span class="build-status-description">
              <span class="octicon octicon-check"></span>
              <strong>All is well</strong>
              — The Travis CI build passed
              <span class="divider">·</span>
              <a href="https://travis-ci.org/douban/code/builds/22442033" class="branch-status-details">Details</a>
            </span>
          </div>
          <div class="merge-message">
            {% if pullrequest.repository.can_merge %}
            <button class="btn btn-primary merge-branch-action js-details-target" type="button">
              <span class="octicon octicon-git-merge"></span>
              Merge pull request
            </button>
            <div class="js-details-container">
              <h3 class="merge-branch-heading">
                This pull request can be automatically merged.
              </h3>
            </div>
            {% else %}
            <div class="js-details-container">
              <h3 class="merge-branch-heading">
                This pull request cannot be automatically merged.
              </h3>
            </div>
            {% endif %}
          </div><!-- /.merge-message -->
        </div>
      </div>
      <form accept-charset="UTF-8" action="/douban/code/pull/50/merge" class="merge-branch-form js-merge-pull-request" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="HAjO+Rszs6djPFO/5037sdt2g3zCBh+cbB0BPtl4F1Z75uEiS1MAO/hku4AGC9T0n7IHbUUual7VzbBnnkr86g=="></div>
        <img alt="Xu Tao" class="commit-form-avatar" data-user="1050163" height="48" src="http://img3.douban.com/icon/user_normal.jpg" width="48">
        <div class="commit-form">
          <div class="merge-form-contents">
            <h3 class="merge-branch-heading">
              Merge pull request #50 from xtao/backbone
            </h3>
            <textarea class="input-block input-contrast merge-commit-message" name="commit_message">Backbone</textarea>
            <div class="commit-form-actions">
              <button type="submit" class="btn btn-primary" data-disable-with="Merging...">
                <span class="octicon octicon-git-merge"></span>
                Confirm merge
              </button>
              <button type="button" class="btn js-details-target">Cancel</button>
            </div>
          </div>
          <div class="merge-form-failed">
            <button class="btn btn-danger merge-branch-action js-reload" type="button">
              <span class="octicon octicon-sync"></span>
              Reload to try again
            </button>
            <h3 class="merge-branch-heading">Merge attempt failed</h3>
            <p class="merge-branch-description js-merge-error-message">We couldn't merge this pull request. Reload the page before trying again.</p>
          </div>
        </div>
      </form>
    </div>
  </div>
  {{ render_pull_new_comment(project, pullrequest, current_user) }}
</div>
{%- endmacro %}
{% macro render_commits() -%}
{%- endmacro %}
