{% extends "projects/base.html" %}
{% from "macros/diffs/patch.html" import render_patch_file %}
{% from "macros/commits/commit.html" import render_commit_item %}

{% block sub_content %}
<div class="panel panel-default">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#discussions" role="tab" data-toggle="tab">Discussions</a></li>
    <li><a href="#commits" role="tab" data-toggle="tab">Commits</a></li>
    <li><a href="#files" role="tab" data-toggle="tab">Files</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="discussions">
      <!-- discussions -->
      <div class="panel panel-default">
        <div class="panel-heading">
          #{{pullrequest.number}} {{pullrequest.name}}
        </div>
        <div class="panel-body">
          <p> {{pullrequest.description}} </p>
        </div>
        {{ render_comment() }}
        {{ render_discussion_actions() }}
      </div>
    </div>
    <div class="tab-pane" id="commits">
      <!-- commits -->
      <div class="panel panel-default">
        <div class="panel-heading">
          commits
        </div>
        <div class="panel-body">
          <p> {{commits|length}} commits</p>
        </div>
        <ul class="list-group table-list">
          {% for commit in commits %}
          {{render_commit_item(project, commit)}}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="tab-pane" id="files">
      <!-- files -->
      <div class="panel panel-default">
        <div class="panel-heading">
          Files
        </div>
        <div class="panel-body">
          <p> {{diff|length}} files </p>
        </div>
        {% for p in diff %}
        {{ render_patch_file(p) }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% macro render_discussion_actions() -%}
<div class="discussion-timeline-actions">
  <div id="partial-pull-merging" class="js-pull-merging js-socket-channel js-updatable-content" data-channel="douban/code:branch:backbone douban/code:branch:backbone:status douban/code:branch:development douban/code:issue:29512662:state" data-url="/douban/code/pull/50/show_partial?partial=merging">
    <div class="merge-pr js-details-container">
      <p class="merge-pr-more-commits">Add more commits by pushing to the <code><a href="/xtao/code/tree/backbone" class="text-emphasized">backbone</a></code> branch on <a href="/xtao/code" class="text-emphasized">xtao/code</a>.</p>
      <div class="branch-action branch-action-state-clean js-mergable-state">
        <span class="mega-octicon octicon-git-pull-request branch-action-icon"></span>
        <span class="mega-octicon octicon-git-merge branch-action-icon"></span>
        <div class="branch-action-body">
          <div class="branch-status edit-comment-hide status-success">
            <span class="build-status-description">
              <span class="octicon octicon-check"></span>
              <strong>All is well</strong>
              — The Travis CI build passed
              <span class="divider">·</span>
              <a href="https://travis-ci.org/douban/code/builds/22442033" class="branch-status-details">Details</a>
            </span>
          </div>
          <div class="merge-message">
            {% if pullrequest.repository.can_merge %}
            <button class="btn btn-primary merge-branch-action js-details-target" type="button">
              <span class="octicon octicon-git-merge"></span>
              Merge pull request
            </button>
            <div class="js-details-container">
              <h3 class="merge-branch-heading">
                This pull request can be automatically merged.
              </h3>
            </div>
            {% else %}
            <div class="js-details-container">
              <h3 class="merge-branch-heading">
                This pull request cannot be automatically merged.
              </h3>
            </div>
            {% endif %}
          </div><!-- /.merge-message -->
        </div>
      </div>
      <form accept-charset="UTF-8" action="/douban/code/pull/50/merge" class="merge-branch-form js-merge-pull-request" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="HAjO+Rszs6djPFO/5037sdt2g3zCBh+cbB0BPtl4F1Z75uEiS1MAO/hku4AGC9T0n7IHbUUual7VzbBnnkr86g=="></div>
        <img alt="Xu Tao" class="commit-form-avatar" data-user="1050163" height="48" src="http://img3.douban.com/icon/user_normal.jpg" width="48">
        <div class="commit-form">
          <div class="merge-form-contents">
            <h3 class="merge-branch-heading">
              Merge pull request #50 from xtao/backbone
            </h3>
            <textarea class="input-block input-contrast merge-commit-message" name="commit_message">Backbone</textarea>
            <div class="commit-form-actions">
              <button type="submit" class="btn btn-primary" data-disable-with="Merging...">
                <span class="octicon octicon-git-merge"></span>
                Confirm merge
              </button>
              <button type="button" class="btn js-details-target">Cancel</button>
            </div>
          </div>
          <div class="merge-form-failed">
            <button class="btn btn-danger merge-branch-action js-reload" type="button">
              <span class="octicon octicon-sync"></span>
              Reload to try again
            </button>
            <h3 class="merge-branch-heading">Merge attempt failed</h3>
            <p class="merge-branch-description js-merge-error-message">We couldn't merge this pull request. Reload the page before trying again.</p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="timeline-comment-wrapper timeline-new-comment js-comment-container ">
    <a href="/xtao"><img alt="Xu Tao" class="timeline-comment-avatar" data-user="1050163" height="48" src="https://avatars1.githubusercontent.com/u/1050163?v=2&amp;s=96" width="48"></a>
    <form accept-charset="UTF-8" action="/douban/code/pull/50/comment" class="js-new-comment-form" data-remote="true" data-type="json" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="VMx0TGr0Ya8tKEDSjsomA5xfAFFaHS30bt/Jw0/i8j+fI+I1VcrE5AHQ9MpUCjuH7YObGWAzFaMwJcjYhBWpFQ=="></div>
      <div class="timeline-comment">
        <input type="hidden" name="issue" value="50">
        <div class="js-previewable-comment-form js-suggester-container previewable-comment-form write-selected" data-preview-url="/preview?repository=16504076">
          <div class="comment-form-head tabnav">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#" class="tabnav-tab write-tab js-write-tab selected">Write</a></li>
              <li><a href="#" class="tabnav-tab preview-tab js-preview-tab">Preview</a></li>
            </ul>
          </div>
          <div class="comment-form-error js-comment-form-error" style="display:none">    There was an error creating your PullRequest.
          </div>
          <div class="write-content js-write-bucket js-uploadable-container js-upload-markdown-image upload-enabled is-default" data-upload-policy-url="/upload/policies/assets">
            <textarea name="comment[body]" tabindex="1" id="new_comment_field" placeholder="Leave a comment" class="input-contrast comment-form-textarea js-comment-field js-quick-submit js-size-to-fit js-quote-selection-target js-session-resumable js-suggester-field"></textarea>
          </div>
          <div class="preview-content">
            <div class="comment">
              <div class="comment-content">
                <div class="comment-body markdown-body">
                  <p>Nothing to preview</p>
                </div>
              </div>
            </div>
          </div>
          <div class="suggester-container">
            <div class="suggester js-suggester js-navigation-container" data-url="/douban/code/suggestions/pull_request/13610624">
            </div>
          </div>
        </div>
        <div class="form-actions">
          <div id="partial-new-comment-form-actions" class="js-socket-channel js-updatable-content" data-channel="douban/code:issue:29512662:state" data-url="/douban/code/pull/50/show_partial?partial=form_actions">
            <button type="submit" class="btn btn-primary" tabindex="2" data-disable-with="" data-disable-invalid="">
              Comment
            </button>
            <button type="submit" name="comment_and_close" value="1" class="btn js-comment-and-button" tabindex="3" data-comment-text="Close and comment" data-disable-with="">
              Close pull request
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{%- endmacro %}
{% macro render_commits() -%}
{%- endmacro %}
{% macro render_comment() -%}
<div class="timeline-comment-wrapper js-comment-container">
  <a href="/xtao"><img alt="xu tao" class="timeline-comment-avatar" data-user="1050163" height="48" src="https://avatars1.githubusercontent.com/u/1050163?v=2&amp;s=96" width="48"></a>
  <div id="issue-40807214" class="comment timeline-comment js-comment js-task-list-container current-user is-task-list-enabled" data-body-version="97c6ff07df2110d5a216983dffba336c">
    <div class="timeline-comment-header ">
      <div class="timeline-comment-actions">
        <a class="octicon octicon-pencil js-comment-edit-button" data-skip-pjax="" href="#" title="edit comment" aria-label="edit comment"></a>
      </div>
      <div class="timeline-comment-header-text">
        <strong>
          <a href="/xtao" class="author">xtao</a>
        </strong>
        commented
        <a href="#issue-40807214" class="timestamp">
          <time datetime="2014-08-21t14:01:15z" is="relative-time" title="aug 21, 2014 10:01 pm gmt+08:00">on aug 21</time>
        </a>
      </div>
    </div>
    <div class="comment-content">
      <p class="comment-form-stale">
      the content you are editing has changed. reload the page and try again.
      </p>
      <div class="edit-comment-hide">
        <div class="comment-body markdown-body markdown-format js-comment-body">
          {{pullrequest.description}}
        </div>
      </div>
      <div class="context-loader">sending request…</div>
      <div class="form-content js-write-bucket js-suggester-container js-uploadable-container js-upload-markdown-image upload-enabled is-default" data-upload-policy-url="/upload/policies/assets">
        <form accept-charset="utf-8" action="/qingfeng/mikoto/issues/6" class="js-comment-update" data-remote="" data-type="json" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="quvwgztylt0esgm9vv/71g0gpgvilf6ahohvxi4tigcnmdoof2gi4e2jhxkuob0hr15jvubu+j//r3w70xjbrw=="></div>
          <textarea class="comment-form-textarea js-comment-field js-quick-submit js-task-list-field js-size-to-fit js-suggester-field" id="issue-40807214-body" name="issue[body]" tabindex="1">
          {{pullrequest.description}}
          </textarea>
          <div class="form-actions">
            <button type="submit" class="btn btn-sm btn-primary" tabindex="1" data-disable-with="">update comment</button>
            <button type="button" tabindex="1" class="btn btn-sm btn-danger comment-cancel-button js-comment-cancel-button" data-confirm-text="are you sure you want to cancel? you have unsaved changes that will be reverted.">
              cancel
            </button>
          </div>
          <div class="suggester-container">
            <div class="suggester js-suggester js-navigation-container" data-url="/qingfeng/mikoto/suggestions/pull_request/20111189">
            </div>
          </div>
      </form></div>
      <div class="comment-form-error comment-form-bottom js-comment-update-error"></div>
    </div>
  </div>
</div>
{%- endmacro %}

