{% from "macros/diffs/blob.html" import blob_num_class, blob_code_class %}

{% macro render_patch_file(p) -%}
<div class="file">
    <div class="meta">
        <span>{{p.new_file_path}}</span>
    </div>
    <div class="data blob-wrapper">
        <table>
            <tr><th></th><th></th><th></th></tr>
            {% for h in p.hunks %}
            {% set l = h.heading %}
            {% set t = l.attr %}
            <tr>
                <td class="blob-num {{blob_num_class(t)}}">{{l.old_num}}</td>
                <td class="blob-num {{blob_num_class(t)}}">{{l.new_num}}</td>
                <td class="blob-code blob-code-context {{blob_code_class(t)}}">{{ l.text }}</td>
            </tr>
            {% for l in h.lines %}
            {% set t = l.attr %}
            <tr>
                <td class="blob-num {{blob_num_class(t)}}">{{l.old_num}}</td>
                <td class="blob-num {{blob_num_class(t)}}">{{l.new_num}}</td>
                <td class="blob-code blob-code-context {{blob_code_class(t)}}">{{ l.text }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>
{%- endmacro %}

