<html lang="zh">
  <head>
  {% block head %}
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% assets "css_all" -%}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {%- endassets %}
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  {% endblock %}
  </head>
  <body>
    {% block menu -%}
    {% include "layouts/_menu.html" %}
    {%- endblock %}
    <div class="container">
    {% include "layouts/_messages.html" %}
    {% block content %}{% endblock %}
    </div>

    {% block footer -%}
    {% include "layouts/_footer.html" %}
    {%- endblock %}

    {% assets "js_vendor" -%}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "js_main" -%}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block script %}{% endblock %}
  </body>
</html>
